* {
	-webkit-print-color-adjust:exact;
	font-family: sans-serif;
}

#calendar {
	margin: 0;
	padding: 0;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

.month_name {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	padding: 0px 2px 0px 2px;
}

.last_cell {
	border-right: 1px solid black;
}

.cell {
	vertical-align: center;
	text-align: center;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	width: 30px;
	padding: 2px 5px 1px 5px;
}

.weekday {
	background: #dddddd;
}

.even_week {
	background: #bbbbbb;
}

.weekend {
	background: orange;
}

.hu_swap_work {
	background: #999999;
}

.hu_swap_holi {
	background: darkorange;
	color: white;
}

.huholiday_cell {
	background: red;
	color: white;
}

.usholiday_cell {
	background: purple;
}

.eeholiday_text {
	border-bottom: 1px solid black;
}

.usholiday_text {
	#border-top: 1px solid black;
	color: white;
}

.huholiday_cell.usholiday_cell {
	background: lightgreen;
}

.huholiday_text.usholiday_text {
	color: black;
}

th, .month_name, .workday_count {
	background: lightblue;
}

.option_friday {
	border-right: 1px solid black;
}

.dst_change_hu {
	padding: 2px 0px 2px 2px;
}

.dst_change_us {
	padding: 2px 2px 2px 0px;
}

#revision {
	color: gray;
	font-size: 8pt;
}
