* {
	-webkit-print-color-adjust:exact;
	font-family: sans-serif;
}

#calendar {
	margin: 0;
	padding: 0;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

th, .month_name {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	padding: 1px 2px 0px 2px;
	font-weight: normal;
	background: lightblue;
}

.cell {
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	width: 30px;
	padding: 1px 0px 11px 1px;
	font-size: 7px;
}

.weekday {
	background: #dddddd;
}

.weekend {
	background: orange;
}

.swap_work {
	background: #999999;
}

.swap_holi {
	background: darkorange;
	color: white;
}

.holiday_cell {
	background: red;
	color: white;
}
